{% load allauth socialaccount %}
{% get_providers as socialaccount_providers %}
{% if socialaccount_providers %}
    <ul class="socialaccount-providers">
        {% for provider in socialaccount_providers %}
            {% if provider.id == "openid" %}
                {% for brand in provider.get_brands %}
                    {% provider_login_url provider openid=brand.openid_url process=process as href %}
                    <li>
                        <a href="{{ href }}" title="{{ brand.name }}">
                            {{ brand.name }}
                        </a>
                    </li>
                {% endfor %}
            {% else %}
                {% provider_login_url provider process=process scope=scope auth_params=auth_params as href %}
                <li>
                    <a href="{{ href }}" title="{{ provider.name }}">
                        {{ provider.name }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
