[project]
name = "floripatalks"
version = "0.1.0"
description = "Event topics platform for local Python community events"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "django>=6.0",
    "django-allauth>=65.13.1",
    "django-cotton>=2.5.1",
    "django-htmx>=1.27.0",
    "pytest>=9.0.2",
    "pytest-django>=4.11.1",
]
