# {title}
{points}

## Background

## Setup

## Objective

## Scoring

| # | Description | Points |
|---|-------------|--------|
| 1 | Scoring Elements | 20 |

## Diagrams

## Notes
    //Nothing here will appear in the final challenges
    //This space can safely be used for recording anything the challenge team
    //might need to know
