{% load cotton %}
{% load core_tags %}

<div class="topic-item" data-topic-slug="{{ topic.slug }}">
    <c-topic.card
        id="{{ topic.id }}"
        slug="{{ topic.slug }}"
        title="{{ topic.title }}"
        description="{{ topic.description|default:'' }}"
        vote_count="{{ topic.vote_count }}"
        has_voted="{{ topic.has_voted|yesno:'true,false' }}"
        creator_username="{{ topic.creator_username }}"
        creator_display_name="{{ topic.creator_display_name|default:topic.creator_username }}"
        creator_avatar_url="{{ topic.creator_avatar_url|default:'' }}"
        event_slug="{{ topic.event_slug }}"
        created_at="{{ topic.created_at|date:'d/m/Y H:i' }}"
    />
</div>
